{
    "allowed_users": ["qwqtoday"],
    "panel_port": 3000,
    "bot_instances": [
        {
            "username": "abays",
            "max_retries": -1,
            "view_distance": 10
        }
    ]
}