html
    head 
        title= "Bots"
    body
        each val, index in instances
            div
                b
                    ins= `${val.username}  `
                button(type="button" onclick=`fetch("start/${index}", {method: "POST"}).then(response => response.text()).then(text => alert(text))`)= "Start"
                button(type="button" onclick=`fetch("stop/${index}", {method: "POST"}).then(response => response.text()).then(text => alert(text))`)= "Stop"